* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(111, 147, 144);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  h1 {
    margin-bottom: 50px;
  }
}

.users_list{
  margin-top: 20px;
}